*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
}

h2.section-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.3;
}